

/*
Project Name: Relaxr landing page
Client: Relaxr
Author: Nadiah Abdulrahim
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Open Sans, Helvetica, Arial, sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;
}

h1 {
  font-family: 'Open Sans'; sans-serif; 
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 2px;
  color: white;
}

h2 {
  font-family: 'Open Sans'; sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

nav {
  text-align: center;
}

.nav h2 {
  font-family: 'Open Sans'; sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: yellow;
}

header h2 {
  text-align: center;
  padding-bottom: 30px;
}

header p {
text-align: center;
}

#main {
  font-family: 'Open Sans'; sans-serif;
  font-size: 13px;
  font-weight: 300;
  list-style-type: circle;
  color: #606161;
  padding: 30px 0 30px 40px;
}

#main h2 {
  font-family: 'Open Sans'; sans-serif;
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #033048;
}

#main li{
   list-style-type: circle;
   line-height: 20px;
   letter-spacing: .5px;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#main {
  background-color: #f0efef;
  height: 20%;
  width: 100%;
}

#container {
  width: 100%;
  margin: auto;
  height: 500px;
  padding: 30px 0 0 40px;
}

.quote blockquote {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quote blockquote {
  background-image: 'images/testimonial_bg.jpg';
  font-family: 'Open Sans'; sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
  width: 50%;
  padding: 30px 0px 30px 30px;
  text-align: center;
}

.quote p {
  font-family: 'Open Sans'; sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

.yellowBar {
  background-color: #f9e42e;
  width: 100%;
  padding: 15px 0 15px 0;
}

.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 10px 0;
  width: 150px;
  font-size: 14px;
  text-align:center;
  display: block;
  margin: 0px auto;
}

.yellow {
  background: #f9e42e;
  color: #033048;
}

.blue {
  background: #033048;
  color: #ffffff;
}

footer {
  background: #121212;
  font-family: 'Open Sans'; sans-serif;
  font-size: 9px;
  font-weight: 300;
  color: white;
  text-align: center;
  padding: 20px;
  line-height: 40px;
}

footer h1{
  font-family: 'Open Sans'; sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: white;
  text-align: center;color: #f9e42e;;
}


